@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lato');
html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: inherit;
  width: inherit;
  background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
}

.grid {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: 30px 1fr 1fr 30px;
  grid-gap: 20px;
}

.textbox {
  display: grid;
  justify-content: center;
  align-items: end;
}

.button {
  display: grid;
  justify-content: center;
  align-items: start;
}

.textbox>input {
  width: 500px;
}

.convert-button {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  text-align: center;
  width: 150px;
  height: 50px;
  outline: 0;
}

.convert-button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
}

.convert-button:active {
  background-color: #CCC;
  border-color: rgba(0, 0, 0, 0.8);
}

.textboxmain {
  background-color: #eee;
  border-color: rgba(0, 0, 0, 0.3);
  border-top-width: 0;
  border-bottom-width: 3px;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 25px;
  outline: 0;
  padding: 5px;
}

.convert-button-settings {
  background: url('wrench.png') no-repeat center center;
  background-color: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  width: 30px;
  height: 30px;
  outline: 0;
}

.convert-button-settings:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
}

.convert-button-settings:active {
  background-color: #CCC;
  border-color: rgba(0, 0, 0, 0.8);
}

.settings {
  display: grid;
  justify-content: end;
  padding: 10px;
}